@import "./styles/theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars globally */
html, body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
